*{
    margin: 0px;
    font-family: 'Kumbh Sans', sans-serif;

}
body{
    background: linear-gradient(180deg, #B068E9 0%, #6463E7 100%);
    margin: 0px;
}

main{
    width: 327px;
    margin: 148px auto;
    background-color: #FFFFFF;
    box-shadow: 0px 50px 50px -20px rgba(53, 18, 122, 0.497159);
    border-radius: 23px;
    /* display: flex; */
    justify-content: center;
    flex-wrap: wrap;
    padding: 0px 25px 48px 25px;
    box-sizing: border-box;
}
.faq-icon{
    display: flex;
    justify-content: center;
}
main .woman-icon{
    width: 230px;
    position: absolute;
    top: 45px;
}
main .shadow-icon{
    width: 230px;
    height: 100px;
    margin-top: 0px;
}
.faq-container{
    margin-top: 30px;
}
.faq-heading{
    text-align: center;
    margin-top: 28px;
}
.faq-question{
    font-size: 14px;
    font-weight: 500;
}
.faq-answer{
    font-size: 12px;
    display: none;
    margin-top: 13px;
    color: #787887;
    line-height: 18px;

}
.faq-area{
    cursor: pointer;
}
.faq-area h1:hover{
    color: #F47B56;
}
.faq-line{
    width: 100%;
    height: 1px;
    background-color: #E8E8EA;
    margin: 18px 0px;
}

.faq-question::after{
    content: url(./images/icon-arrow-down.svg);
    float: right;
}

.active div{
    display: block;
}
.active h1::after{
    transform: rotate(180deg);

}
.active h1{
    font-weight: 700;
}


